#
# TypeC Port Controller Device Configuration
#

config TCPC_CLASS
	tristate "TypeC Port Controller Device Class"
	select TYPEC
	help
	  Say Y to enable
	  Typec Port
	  Controller Device
	  Class

config SOUTHCHIP_TCPC_CLASS
	tristate "TypeC Port Controller Device Class"
	select MTK_USB_TYPEC
	select RT_REGMAP
	select TYPEC
	default n
	help
	  Say Y to enable
	  Typec Port
	  Controller Device
	  Class

config USB_POWER_DELIVERY
	tristate "Support USB power delivery Function"
	depends on TCPC_CLASS || SOUTHCHIP_TCPC_CLASS
	default n
	help
	  Say Y to enable
	  USB
	  Power Delivery
	  support


config TCPC_RT1711H
	tristate "Richtek RT1711H TypeC port Controller Driver"
	depends on TCPC_CLASS || SOUTHCHIP_TCPC_CLASS
	default n
	help
	  Say Y to enable
	  Richtek RT1711H
	  TypeC port Controller
	  Driver

config TCPC_SY6976
	tristate "Richtek SY6976 TypeC port Controller Driver"
	depends on TCPC_CLASS || SOUTHCHIP_TCPC_CLASS
	default n
	help
	  Say Y to enable
	  Richtek SY6976
	  TypeC port Controller
	  Driver

config TCPC_SC660X
	tristate "Richtek SC660X TypeC port Controller Driver"
	depends on TCPC_CLASS || SOUTHCHIP_TCPC_CLASS
	default n
	help
	  Say Y to enable
	  Southchip SC660X
	  TypeC port Controller
	  Driver

config USB_PD_VBUS_STABLE_TOUT
	int "PD VBUS Stable Timeout"
	depends on USB_POWER_DELIVERY
	range 0 1000                       # >= 0,  <= 1000
	default 125
	help
	  Setup a timeout value (ms)
	  for
	  VBUS change
	  stable

config PD_DBG_INFO
	tristate "PD debug information"
	depends on TCPC_CLASS || SOUTHCHIP_TCPC_CLASS
	default y
	help
	  Say Y to enable PD debug
	  for PD DBG
	  information
	  Say N to disable

