config TOUCHSCREEN_XIAOMI_TOUCHFEATURE_COMMON
	tristate "Xiaomi Touch Feature"
	help
	  Say Y here if you enable xiaomi touch feature.
	  If unsure, say N.
	  To compile this driver as a module, choose M here:
