config DEVICE_MODULES_DIO_DMABUF_MAPPER
	tristate "DMA-BUF mapper for dio"
	depends on DMABUF_HEAPS
	help
	  Choose this option to enable the DirectIO dmabuf mapper.
	  This mapper could mmap the given dmabuf into a vm_area_struct with the
	  capability to be the src or dst buffer of DirectIO.
