config MI_UNION_POWER
	tristate "union power load monitor"
	default n
	help
	  The case is used to monitor load

config MI_POWER_SAVE
	tristate "power save mode 2.0"
	default n
	help
	  Power Save Mode 2.0