CONFIG_COMMON_CLK_MT6991_IVI=m
CONFIG_DEVICE_MODULES_MTK_SCPSYS_IVI=m
CONFIG_DRM_MEDIATEK_DPTX_AUTO=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="max96712_mipi_yuv max96712isx_mipi_yuv"
CONFIG_DRM_PANEL_MAXIAM_MAX96851=m
CONFIG_DRM_MAXIAM_MAX96851=m
CONFIG_DRM_MEDIATEK_EDPTX_AUTO_SUPPORT=m
CONFIG_MTK_FAN_THERMAL=m

CONFIG_MTK_FAN_THERMAL=m
CONFIG_MTK_SPM_CAREVENT=m
