CONFIG_DEBUG_INFO_BTF=n
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DRM_MEDIATEK_DPTX_AUTO=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SYSVIPC=y
CONFIG_COMMON_CLK_MT6991_IVI=m
CONFIG_DEVICE_MODULES_MTK_SCPSYS_IVI=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="max96712_mipi_yuv max96712isx_mipi_yuv max96712a_mipi_yuv max96712a0_mipi_yuv max96712a1_mipi_yuv max96712a2_mipi_yuv max96712a3_mipi_yuv ox08b40_mipi_raw"
CONFIG_DRM_PANEL_MAXIAM_MAX96851=m
CONFIG_DRM_MAXIAM_MAX96851=m
CONFIG_DRM_MEDIATEK_EDPTX_AUTO_SUPPORT=m
CONFIG_MTK_GPU_VERSION="mali avalon r47p0 mt6991"
CONFIG_MTK_AEE_YOCTO=y
CONFIG_JPEG_V4L2_DECODE=y
CONFIG_STATIC_USERMODEHELPER_PATH="/usr/bin/aee_core_forwarder"
# CONFIG_ANDROID_BINDERFS is not set
CONFIG_MTK_SCHEDULER=n
CONFIG_MTK_OPP_CAP_INFO=n
CONFIG_NONLINEAR_FREQ_CTL=n
CONFIG_MTK_EAS=n
CONFIG_MTK_THERMAL_AWARE_SCHEDULING=n
CONFIG_MTK_LEAKAGE_AWARE_TEMP=n
CONFIG_MTK_NEWIDLE_BALANCE=n
CONFIG_MTK_SCHED_BIG_TASK_ROTATE=n
CONFIG_MTK_CPUFREQ_SUGOV_EXT=n
CONFIG_MTK_OPP_MIN=n
CONFIG_MTK_NEWIDLE_BALANCE=n
CONFIG_MTK_GEARLESS_SUPPORT=n
CONFIG_MTK_CORE_PAUSE=n
CONFIG_MTK_SCHED_FAST_LOAD_TRACKING=n
CONFIG_MTK_SCHED_GROUP_AWARE=n
CONFIG_MTK_SCHED_UPDOWN_MIGRATE=n
CONFIG_SND_SOC_MTK_AUTO_AUDIO=m
CONFIG_KALLSYMS_ALL=y
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_SND_SOC_MTK_OFFLOAD is not set
CONFIG_MTK_LOG_STORE_ALWAYS_CLEAR_EMMC_FLAG=y
CONFIG_SND_SOC_AK7709=m
CONFIG_SND_SOC_HFDA80X=m
