CONFIG_DEBUG_INFO_BTF=n
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SYSVIPC=y
CONFIG_COMMON_CLK_MT6991_IVI=m
CONFIG_DEVICE_MODULES_MTK_SCPSYS_IVI=m
# CONFIG_ARM64_SVE is not set
CONFIG_CUSTOM_KERNEL_IMGSENSOR="max96712_mipi_yuv max96712isx_mipi_yuv"
CONFIG_MTK_GPU_VERSION="mali avalon r47p0 mt6991"
# CONFIG_ANDROID_BINDERFS is not set
