CONFIG_SND_SMARTPA_AW882XX=m
CONFIG_XLOGCHAR=m
CONFIG_USB_SWITCH_ET7480=m
CONFIG_XMEXT_TI_GAUGE=m
CONFIG_INPUT_AW_HAPTIC=m
CONFIG_MI_DISP_ESD_CHECK=y
CONFIG_XMEXT_SC858X_CHG_PUMP=m
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_NFC=y
CONFIG_MTK_CLKBUF_NFC=y
CONFIG_NFC_NXP_I2C=m
CONFIG_NXP_P73_DEVICES=m
CONFIG_XM_SINGLE_PD_MANAGER=m
CONFIG_DRM_PANEL_N11A_42_02_0A_DSC_VDO=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="duchampov64b40wide_mipi_raw duchampov16a1qfront_mipi_raw duchampsc202pcsmacro_mipi_raw duchampov08d10ultra_mipi_raw"
CONFIG_REGULATOR_WL2868C=m
#fingerprint add
CONFIG_XIAOMI_FINGERPRINT=m
CONFIG_DEVICE_MODULES_SPI_MT65XX=m
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_MTK_VIDEO_LM3644=m
CONFIG_MI_DISP_LHBM=y
CONFIG_MI_DISP_CMDQ_SWT=y
CONFIG_BINDER_PRIO=m
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_SIH_VIBRATOR=m
#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow
CONFIG_RUST_DETECTION=y
#skynet add
CONFIG_MI_CAMLOG=m
CONFIG_MI_DISP_VDO_AOD=y
CONFIG_MI_PROCESS_EXIT=m
