CONFIG_MI_BOOT_MONITOR=m
CONFIG_MTK_ULTRASND_PROXIMITY=m
CONFIG_DRM_PANEL_P16_42_02_0A_DSC_VDO=m
CONFIG_DRM_PANEL_P16_36_02_0B_DSC_VDO=m
CONFIG_DRM_PANEL_P16_41_02_0C_DSC_VDO=m
CONFIG_TOUCHSCREEN_NT38771=m
CONFIG_MI_DISP=y
CONFIG_MI_DISP_LHBM=y
CONFIG_MI_DISP_ESD_CHECK=y
CONFIG_MI_DISP_FOD_SYNC=y
CONFIG_MI_DISP_DOZE_SUSPEND=y
#CONFIG_TOUCHSCREEN_MT6983_ALPHA_SUPPORT is not set
#CONFIG_TOUCHSCREEN_MT6895_ALPHA_SUPPORT is not set
#CONFIG_TOUCHSCREEN_MT6985_ALPHA_SUPPORT is not set
#CONFIG_TOUCHSCREEN_NT36xxx_HOSTDL_SPI is not set
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE_COMMON=m
CONFIG_AWINIC_HAPTIC_HV=m
CONFIG_SIH_VIBRATOR=m
CONFIG_XMEXT_SC8541_CHG_PUMP=m
CONFIG_XMEXT_BQ25960_CHG_PUMP=m
CONFIG_XM_SINGLE_PD_MANAGER=m
CONFIG_MI_THERMAL_INTERFACE=m
CONFIG_GAUGE_BQ28Z610=m
CONFIG_GAUGE_MT6375=n
CONFIG_XM_SMART_CHG=m
CONFIG_XM_BATTERY_HEALTH=m
CONFIG_XM_CHG_DFS=m
CONFIG_XM_CHG_UEVENT=m
CONFIG_RUST_DETECTION=y
CONFIG_SWITCH=m
CONFIG_AUDIO_TYPEC_SWITCH=m
CONFIG_SND_SMARTPA_TFA9865=m
CONFIG_SND_SMARTPA_SIA91XX=m
# CONFIG_SND_SOC_RT5512 is not set
# CONFIG_SND_SOC_TFA9874 is not set
CONFIG_MIEV=m
#CONFIG_UFS_FFU_CTRL is not set
CONFIG_SCSI_UFS_XIAOMI_CLD=y
#camera start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="lapiss5khpewide_mipi_raw lapisimx882wide_mipi_raw lapisov20bfront_mipi_raw lapisov08f10ultra_mipi_raw"
CONFIG_BUILD_XIAOMI_CAMERA_IMAGE_NAMES=lapis
CONFIG_REGULATOR_WL2866D=m
CONFIG_REGULATOR_SGM38121=m
CONFIG_REGULATOR_ET5904=m
CONFIG_MTK_VIDEO_OCP8135B=m
CONFIG_MTK_V4L2_FLASHLIGHT=m
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n
#camera end

CONFIG_UFS_WB_CHECK=y

CONFIG_CPQ_IOSCHED=m
# P16/P16P code for HQFEAT-89765 by p-yinjieru at 2025/02/26
CONFIG_SIMTRAY_STATUS=m
# P16/P16P code for HQFEAT-89663 by p-yinjieru at 2025/03/10
CONFIG_CUSTOM_BOB63810=m
CONFIG_CPUMAXFREQ_SUPPORT=m
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_XIAOMI_FINGERPRINT=m
CONFIG_MTK_IRTX_PWM_SUPPORT=m
CONFIG_FP_MTK_PLATFORM=m
CONFIG_HQ_SYSFS_SUPPORT=m
CONFIG_UFS_WB=y

#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow

#sensor add scp log
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y

# audio cid config
CONFIG_HQ_AUDIO_SUPPORT=m

#audio xlog
CONFIG_XLOGCHAR=m
