CONFIG_HARDWARE_INFO=m
CONFIG_TYPEC_MUX_DIO4485=m
CONFIG_SND_SOC_RT5512=n
CONFIG_SND_SOC_TFA9874=n
CONFIG_SND_SMARTPA_AW882XX=m
CONFIG_XMEXT_SC8541_CHG_PUMP=m
CONFIG_XMEXT_BQ25960_CHG_PUMP=m
CONFIG_XM_SINGLE_PD_MANAGER=m
CONFIG_MI_THERMAL_INTERFACE=m
CONFIG_MI_WIFI_GPIO=m
CONFIG_BUILD_XIAOMI_CAMERA_IMAGE_NAMES="malachite"
CONFIG_MI_SCHED_MTK=y
CONFIG_METIS_MTK=y
