CONFIG_PINCTRL_MT6761=m
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_MTK_POWER_GS_LEGACY=m
CONFIG_MTK_CM_MGR_LEGACY_V0=m
CONFIG_MTK_HPS_V3=m
CONFIG_COMMON_CLK_MT6761=m
CONFIG_COMMON_CLK_MT6761_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6761_CAMSYS=m
CONFIG_COMMON_CLK_MT6761_MMSYS=m
CONFIG_COMMON_CLK_MT6761_VCODECSYS=m
CONFIG_COMMON_CLK_MT6761_MIPI0ASYS=m
CONFIG_COMMON_CLK_PG_LEGACY=y
CONFIG_DEVICE_MODULES_REGULATOR_MT6357=m
# CONFIG_RPMB is not set
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=1
CONFIG_MTK_EMI_BWL_VERSION=1
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MTK_PLAT_POWER_MT6761=m
CONFIG_MTK_DVFSRC_MET_MT6761=m
CONFIG_MTK_DVFSRC_LEGACY=y
CONFIG_MTK_IRQ_DBG_LEGACY=y
CONFIG_MTK_VIDEOCODEC_DRIVER=m
CONFIG_MTK_VIDEOCODEC_IPM_V1=y
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_IOMMU_MISC_SECURE is not set
# CONFIG_MTK_MMINFRA is not set
CONFIG_MTK_SMI_BWC=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6761=m
CONFIG_MTK_SMI_BWC_MT6761=m
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_MT6357_DO_CTD=y
CONFIG_CHARGER_TYPE_MT6357=m
CONFIG_CHARGER_RT9465=m
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V2 is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_MML_LEGACY=m
# CONFIG_MTK_QOS_MT6893 is not set
CONFIG_MTK_QOS_LEGACY=y
CONFIG_MTK_UNIFIED_POWER=m
CONFIG_MEDIATEK_CPUFREQ_DEBUG_SUPPORT_LEGACY=y
CONFIG_MTK_SPM_V0=m
CONFIG_MEDIATEK_MCDI=m
CONFIG_MEDIATEK_CPUIDLE=m
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LOW_POWER_MODULE is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_ISE_LPM_SUPPORT is not set
# CONFIG_TRUSTY is not set
# CONFIG_MTK_SENSORHUB is not set
# CONFIG_MTK_APUSYS_SUPPORT is not set
CONFIG_MTK_FB_MMDVFS_SUPPORT=y
