CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=1
CONFIG_DEVICE_MODULES_PINCTRL_MT6765=m
CONFIG_DEVICE_MODULES_REGULATOR_MT6357=m
CONFIG_DEVICE_MODULE_COMMON_CLK_MT6765=m
CONFIG_MTK_DVFSRC_MET_MT6765=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_RPMB is not set