CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
# CONFIG_PINCTRL_MT6781 is not set
# CONFIG_MTK_EMI_LEGACY is not set
# CONFIG_MTK_EMI_LEGACY_VERSION is not set
# CONFIG_RPMB is not set
# CONFIG_COMMON_CLK_MT6781 is not set
# CONFIG_COMMON_CLK_MT6781_APU is not set
# CONFIG_COMMON_CLK_MT6781_AUDIOSYS is not set
# CONFIG_COMMON_CLK_MT6781_CAM is not set
# CONFIG_COMMON_CLK_MT6781_IMG is not set
# CONFIG_COMMON_CLK_MT6781_I2C is not set
# CONFIG_COMMON_CLK_MT6781_IPESYS is not set
# CONFIG_COMMON_CLK_MT6781_MDPSYS is not set
# CONFIG_COMMON_CLK_MT6781_MFGCFG is not set
# CONFIG_COMMON_CLK_MT6781_DISPSYS is not set
# CONFIG_COMMON_CLK_MT6781_MSDC is not set
# CONFIG_COMMON_CLK_MT6781_SCP_ADSP is not set
# CONFIG_COMMON_CLK_MT6781_VDE is not set
# CONFIG_COMMON_CLK_MT6781_VEN is not set
# CONFIG_MTK_IRQ_DBG_LEGACY is not set
# CONFIG_MTK_PKVM_TMEM is not set
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
