# CONFIG_MTK_MMQOS_VCP is not set
# CONFIG_MTK_MMDVFS_VCP is not set
# CONFIG_MTK_MMINFRA_VCP is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6789=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_MML_LEGACY=m
# CONFIG_MTK_IOMMU_MISC_SECURE is not set
