CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_COMMON_CLK_MT6761=m
CONFIG_COMMON_CLK_MT6761_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6761_CAMSYS=m
CONFIG_COMMON_CLK_MT6761_MMSYS=m
CONFIG_COMMON_CLK_MT6761_VCODECSYS=m
CONFIG_COMMON_CLK_MT6761_MIPI0ASYS=m
CONFIG_DEVICE_MODULES_REGULATOR_MT6357=m
# CONFIG_RPMB is not set
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MTK_PLAT_POWER_MT6761=m
