CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_PINCTRL_MT6853=m
CONFIG_COMMON_CLK_MT6853=m
CONFIG_COMMON_CLK_MT6853_APU0=m
CONFIG_COMMON_CLK_MT6853_APU1=m
CONFIG_COMMON_CLK_MT6853_APU_VCORE=m
CONFIG_COMMON_CLK_MT6853_APU_CONN=m
CONFIG_COMMON_CLK_MT6853_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_MAIN=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_RAWA=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_RAWB=m
CONFIG_COMMON_CLK_MT6853_IMGSYS1=m
CONFIG_COMMON_CLK_MT6853_IMGSYS2=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_C=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_E=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_N=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_S=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_W=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_WS=m
CONFIG_COMMON_CLK_MT6853_IPESYS=m
CONFIG_COMMON_CLK_MT6853_MDPSYS_CONFIG=m
CONFIG_COMMON_CLK_MT6853_MFGCFG=m
CONFIG_COMMON_CLK_MT6853_MMSYS_CONFIG=m
CONFIG_COMMON_CLK_MT6853_SCP_ADSP=m
CONFIG_COMMON_CLK_MT6853_VDEC_GCON=m
CONFIG_COMMON_CLK_MT6853_VENC_GCON=m
CONFIG_REGULATOR_MT6362=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6853=y
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_PKVM_TMEM is not set
CONFIG_MTK_TINYSYS_SSPM_V2=y
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_SWPM_MT6985 is not set
# CONFIG_MTK_SWPM_MT6983 is not set
# CONFIG_MTK_SWPM_MT6886 is not set
# CONFIG_MTK_SWPM_MT6897 is not set
# CONFIG_MTK_SWPM_MT6989 is not set
# CONFIG_MTK_SWPM_MT6991 is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_MBRAINK_MT6991 is not set
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LPM_MT6991 is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_CM_MGR_MT6893 is not set
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_MTK_CM_MGR_MT6853=m
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_MMINFRA is not set
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=2
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx586_mipi_raw imx576_mipi_raw imx519_mipi_raw"
# CONFIG_MTK_IMGSENSOR is not set
CONFIG_MTK_IMGSENSOR_ISP6S_MOU=m
# CONFIG_MTK_CAM_CAL is not set
CONFIG_MTK_CAM_CAL_ISP6S_MOU=m
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6853=m
CONFIG_MTK_ECCCI_DRIVER=m
CONFIG_MTK_SMI_BWC_MT6761=m
# CONFIG_MTK_QOS_MT6893 is not set
CONFIG_MTK_QOS_BOUND_LEGACY=y
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_GPU_MT6853_SUPPORT=m
CONFIG_MTK_PTPOD_GPU=m
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_TEMP_DISABLE_DEVAPC_MTXXXX=y
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_MTK_LEAKAGE_AWARE_TEMP is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_OPP_MIN is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_MTK_DPC is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
# CONFIG_DEVICE_MODULES_REGULATOR_MT6370 is not set
# CONFIG_RT4831A_I2C is not set
# CONFIG_MTK_C2PS is not set
