CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_PINCTRL_MT6833=m
CONFIG_MTK_IOMMU_DEBUG=y
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_PKVM_TMEM is not set
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=2
CONFIG_COMMON_CLK_MT6833=m
CONFIG_COMMON_CLK_MT6833_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6833_CAM=m
CONFIG_COMMON_CLK_MT6833_MMSYS=m
CONFIG_COMMON_CLK_MT6833_IMG=m
CONFIG_COMMON_CLK_MT6833_I2C=m
CONFIG_COMMON_CLK_MT6833_BUS=m
CONFIG_COMMON_CLK_MT6833_MFG=m
CONFIG_COMMON_CLK_MT6833_VCODEC=m
# CONFIG_COMMON_CLK_MT6893 is not set
# CONFIG_RPMB is not set
# CONFIG_MMSTAT_TRACER is not set
