
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_DEBUG_DRIVER=y
CONFIG_PINCTRL_MT6877=m
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=2
# CONFIG_RPMB is not set
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_IOMMU_MISC_SECURE is not set
CONFIG_COMMON_CLK_MT6877=m
CONFIG_COMMON_CLK_MT6877_APU=m
CONFIG_COMMON_CLK_MT6877_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6877_CAM=m
CONFIG_COMMON_CLK_MT6877_IMG=m
CONFIG_COMMON_CLK_MT6877_I2C=m
CONFIG_COMMON_CLK_MT6877_IPESYS=m
CONFIG_COMMON_CLK_MT6877_MDPSYS=m
CONFIG_COMMON_CLK_MT6877_MFGCFG=m
CONFIG_COMMON_CLK_MT6877_DISPSYS=m
CONFIG_COMMON_CLK_MT6877_MSDC=m
CONFIG_COMMON_CLK_MT6877_SCP_ADSP=m
CONFIG_COMMON_CLK_MT6877_VDE=m
CONFIG_COMMON_CLK_MT6877_VEN=m
CONFIG_MTK_CPUHOTPLUG=m
CONFIG_MTK_IRQ_DBG_LEGACY=y
# CONFIG_MTK_MML is not set
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_MDP_MTEE_SUPPORT=m
# CONFIG_MTK_MMINFRA is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6877=m
# CONFIG_MTK_MMQOS_VCP is not set
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
CONFIG_MTK_TINYSYS_SSPM_V2=y
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V2 is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
# CONFIG_MTK_ISE_LPM_SUPPORT is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_TRUSTY is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_MTK_LPM_MT6989 is not set
CONFIG_MTK_SUBPMIC_DEBUGFS=m
CONFIG_MT6360_DBG=m
CONFIG_MTK_GPU_MT6877_SUPPORT=m
CONFIG_MTK_GPU_LEGACY=y
CONFIG_SND_SOC_MT6877=m
CONFIG_SND_SOC_MT6877_MT6359P=m
# CONFIG_SND_SOC_MTK_AUDIO_DSP is not set
# CONFIG_MTK_AUDIODSP_SUPPORT is not set
# CONFIG_MTK_USB_OFFLOAD is not set
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_MTK_SCP_AUDIO is not set
# CONFIG_SND_SOC_MT6885 is not set
# CONFIG_SND_SOC_MT6885_MT6359P is not set
# CONFIG_SND_SOC_MT6879 is not set
# CONFIG_SND_SOC_MT6879_MT6368 is not set
# CONFIG_SND_SOC_MT6886 is not set
# CONFIG_SND_SOC_MT6886_MT6368 is not set
# CONFIG_SND_SOC_MT6895 is not set
# CONFIG_SND_SOC_MT6895_MT6368 is not set
# CONFIG_SND_SOC_MT6983 is not set
# CONFIG_SND_SOC_MT6983_MT6338 is not set
# CONFIG_SND_SOC_MT6985 is not set
# CONFIG_SND_SOC_MT6985_MT6338 is not set
# CONFIG_SND_SOC_MT6897 is not set
# CONFIG_SND_SOC_MT6897_MT6368 is not set
# CONFIG_SND_SOC_MT6989 is not set
# CONFIG_SND_SOC_MT6989_MT6681 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6991 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6991_MT6681 is not set
