CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_PINCTRL_MT6853=m
# CONFIG_RPMB is not set
CONFIG_COMMON_CLK_MT6853=m
CONFIG_COMMON_CLK_MT6853_APU0=m
CONFIG_COMMON_CLK_MT6853_APU1=m
CONFIG_COMMON_CLK_MT6853_APU_VCORE=m
CONFIG_COMMON_CLK_MT6853_APU_CONN=m
CONFIG_COMMON_CLK_MT6853_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_MAIN=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_RAWA=m
CONFIG_COMMON_CLK_MT6853_CAMSYS_RAWB=m
CONFIG_COMMON_CLK_MT6853_IMGSYS1=m
CONFIG_COMMON_CLK_MT6853_IMGSYS2=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_C=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_E=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_N=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_S=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_W=m
CONFIG_COMMON_CLK_MT6853_IMP_IIC_WRAP_WS=m
CONFIG_COMMON_CLK_MT6853_IPESYS=m
CONFIG_COMMON_CLK_MT6853_MDPSYS_CONFIG=m
CONFIG_COMMON_CLK_MT6853_MFGCFG=m
CONFIG_COMMON_CLK_MT6853_MMSYS_CONFIG=m
CONFIG_COMMON_CLK_MT6853_SCP_ADSP=m
CONFIG_COMMON_CLK_MT6853_VDEC_GCON=m
CONFIG_COMMON_CLK_MT6853_VENC_GCON=m
CONFIG_REGULATOR_MT6362=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_PKVM_TMEM is not set
CONFIG_MTK_TINYSYS_SSPM_V2=y
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_SWPM_MT6985 is not set
# CONFIG_MTK_SWPM_MT6983 is not set
# CONFIG_MTK_SWPM_MT6886 is not set
# CONFIG_MTK_SWPM_MT6897 is not set
# CONFIG_MTK_SWPM_MT6989 is not set
# CONFIG_MTK_SWPM_MT6991 is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_MBRAINK_MT6991 is not set
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LPM_MT6991 is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_MMINFRA is not set
