#Touch add
CONFIG_BUILD_PRODUCT_NAME="prague"
CONFIG_MITEE_SUPPORT=m
CONFIG_MITEE_TUI_SUPPORT=n
CONFIG_SND_SOC_TFA9874=m
CONFIG_MI_DISP=y
CONFIG_MI_DISP_FP_STATE=y
CONFIG_MML_DL_SUPPORT=y
CONFIG_MI_DISP_ESD_CHECK=y
CONFIG_MI_DISP_FOD_SYNC=y
CONFIG_MI_DISP_DOZE_SUSPEND=y
CONFIG_MTK_MMPROFILE_DEBUG=y
CONFIG_MTK_DISP_LOGGER=y
CONFIG_MI_HWCONF_MANAGER=y
CONFIG_MI_DISP_DFS_EVENT=y
CONFIG_MI_DISP_CMDQ_SWT=y
CONFIG_VIDLE_ENABLE=y
CONFIG_AWINIC_AW8693x_HAPTIC=m
CONFIG_SCSI_UFSHCD_PLATFORM_MI=y
CONFIG_DEBUG_FS_MI=y
CONFIG_SCSI_UFS_BSG_MI=y
CONFIG_SCSI_UFS_CRYPTO_MI=y
CONFIG_SCSI_UFS_FAULT_INJECTION_MI=y
CONFIG_SCSI_UFS_HWMON_MI=y
CONFIG_SCSI_UFS_XIAOMI=y
CONFIG_MI_MEMORY_SYSFS=y
CONFIG_MI_ERROR_STATE=y
CONFIG_SCSI_UFS_XIAOMI_FFU=y
CONFIG_UFS_FFU_CTRL=y
CONFIG_SCSI_UFS_XIAOMI_WB=y
CONFIG_SCSI_UFS_XIAOMI_WB2=y
CONFIG_SCSI_UFS_XIAOMI_WB_CHECK=y
CONFIG_SCSI_UFS_XIAOMI_TP=y
CONFIG_SCSI_UFS_XIAOMI_SWAP_SLC=y
CONFIG_SCSI_UFS_XIAOMI_SWAP_SLC_ON_EXTENDWB=y
CONFIG_SCSI_UFS_XIAOMI_CLD=y
CONFIG_SCSI_UFS_XIAOMI_FBO=y
CONFIG_SCSI_UFS_XIAOMI_FBO2=y
CONFIG_SCSI_UFS_XIAOMI_FBO3=y
CONFIG_SCSI_UFS_XIAOMI_EUA=n
CONFIG_SCSI_UFS_XIAOMI_EUA_CHECK=n
CONFIG_SCSI_UFS_XIAOMI_HYBRID=y
CONFIG_SCSI_UFS_XIAOMI_MONITOR=y
CONFIG_SCSI_UFS_XIAOMI_SNAPSHOT=y
CONFIG_SCSI_UFS_XIAOMI_SNAPSHOT2=y
#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
# nfc add
CONFIG_NXP_P73_DEVICES=m
CONFIG_NFC_NXP_I2C=m
# thermal add
CONFIG_MI_THERMAL_INTERFACE=m
CONFIG_MI_THERMAL_MULTI_CHARGE=y
CONFIG_MI_GPU_LIMIT=y
CONFIG_MI_THERMAL_ATC_ENABLE=y
#Thermal add for common sysfs node
CONFIG_MI_THERMAL_COMM_SYSFS=m
#Thermal add for board trip
CONFIG_MI_THERMAL_TEMP_TRIP=m
#camera add
CONFIG_REGULATOR_WL2868C=m
CONFIG_LEDS_MT6379_PMIC=m
CONFIG_CAM_INTENTAWARE_FSYS=m
CONFIG_DEVICE_MODULES_DIO_DMABUF_MAPPER=m
# MIUI ADD: Performance_BoostFramework
# # END Performance_BoostFramework
# Fingerprint: add start
CONFIG_XIAOMI_FINGERPRINT_SPI_NUM=3
CONFIG_XIAOMI_FINGERPRINT=m
CONFIG_INTR2_PIN_ENABLE=1
CONFIG_XIAOMI_SIDE_FINGERPRINT=1
CONFIG_XIAOMI_FINGERPRINT_POWEAR_OFF_SEQ=1
# Fingerprint: add end
#display add
CONFIG_VIS_DISPLAY_V2_D2=y
#Modem add
CONFIG_MI_T1_CHIP=m


#sensor add
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
#Game add
CONFIG_CACHE_PREFETCH=m

#charge add: product name
CONFIG_TARGET_PRODUCT_PRAGUE=y
