
CONFIG_MIEV=m
CONFIG_MI_BOOT_MONITOR=m
#add mtdoops
CONFIG_MI_DP_AUX_PN_SWAP=y
CONFIG_DRM_PANEL_LEDS_KTZ8866=m
CONFIG_DRM_PANEL_O88_42_02_0A_DSC_VDO=m
CONFIG_MTK_LCM_DUAL_PORT_SUPPORT=n
CONFIG_MTK_DISP_MMDVFS_INIT_SEQUENCE=y
CONFIG_MTK_DISPLAY_DUAL_PIPE_DUAL_PORT_SUPPORT=y
CONFIG_MTK_DPTX_PATCH_FOR_TABLET_ENABLE=y
CONFIG_MTD_XIAOMI=m
CONFIG_MTD_BLOCK_XIAOMI=m
CONFIG_MTD_BLOCK2MTD_XIAOMI=m
CONFIG_MTD_OOPS_XIAOMI=m
CONFIG_MI_DISP_VDO_AOD=y
CONFIG_MI_DISP_LHBM=y
CONFIG_MI_DISP_ESD_CHECK=y
CONFIG_MI_DISP_PANEL_COUNT=y
CONFIG_MI_DISP_LED_I2C_REG_ENABLE=y
CONFIG_MI_HWCONF_MANAGER=y
CONFIG_MI_DISP_DFS_EVENT=y
CONFIG_MI_DISP_CMDQ_SWT=y
CONFIG_XIAOMI_SIMTRAY_STATUS=m
CONFIG_MI_HARDWARE_ID=m
CONFIG_XMEXT_SC858X_CHG_PUMP=m
CONFIG_CHARGER_BQ25985=m
CONFIG_XMEXT_TI_GAUGE=m
CONFIG_HL7603_BOOST=m
CONFIG_RUST_DETECTION=y
CONFIG_XM_SOH_SN=y
CONFIG_NFC=y
CONFIG_MTK_CLKBUF_NFC=y
CONFIG_NFC_NXP_I2C=m
CONFIG_NXP_P73_DEVICES=m
CONFIG_INPUT_AW_HAPTIC=m
CONFIG_SIH_VIBRATOR=m
CONFIG_AAC_VIBRATOR=m
CONFIG_AWINIC_AW8693x_HAPTIC=m
# CONFIG_SND_SOC_VIRTUAL_HAPTIC=m
CONFIG_XM_SINGLE_PD_MANAGER=m
CONFIG_MITEE_SUPPORT=m
CONFIG_MITEE_TUI_SUPPORT=n
CONFIG_SND_SMARTPA_AW882XX=m
CONFIG_SND_SOC_TFA9874=m
CONFIG_MTK_ULTRASND_PROXIMITY=n
#camera add
CONFIG_CUSTOM_KERNEL_IMGSENSOR="turnerov13b10wide_mipi_raw turnerov08f10front_mipi_raw"
CONFIG_BUILD_XIAOMI_CAMERA_IMAGE_NAMES="turner"
CONFIG_MIHW=y
CONFIG_REGULATOR_WL2866D=m
CONFIG_REGULATOR_SGM38121=m
CONFIG_I2C_CHARDEV=y
CONFIG_SCSI_UFS_XIAOMI_FFU=y
CONFIG_UFS_FFU_CTRL=y
CONFIG_MI_MEMORY_SYSFS=m
CONFIG_MI_ERROR_STATE=m
CONFIG_DEVICE_MODULE_MI_MPBE_SUPPORT=m
CONFIG_MI_MPBE_SUPPORT=y
CONFIG_SCSI_UFS_XIAOMI_CLD=y
CONFIG_SCSI_UFS_XIAOMI_FBO=y
CONFIG_SCSI_UFS_XIAOMI_FBO2=y
CONFIG_SCSI_UFS_XIAOMI_EUA=y
CONFIG_SCSI_UFS_XIAOMI_EUA_CHECK=y
CONFIG_SCSI_UFS_XIAOMI_SMCQ=y
CONFIG_SCSI_UFS_XIAOMI_SWAP_SLC=y
CONFIG_SCSI_UFS_XIAOMI_SNAPSHOT=y
CONFIG_XIAOMI_FINGERPRINT_SPI_NUM=2
CONFIG_XIAOMI_FINGERPRINT=m
CONFIG_USB_SWITCH_ET7480=m
CONFIG_MTK_VIDEO_OCP81373=m
CONFIG_MI_POWER_SAVE=m
CONFIG_MI_UNION_POWER=m
# MIUI ADD: Performance_BoostFramework
CONFIG_PERF_HELPER=m
CONFIG_MTK_DMABUF_HEAPS_RESERVE_POOL=y
# END Performance_BoostFramework
#mi_mem_engine add
CONFIG_MI_UNFAIRMEM=m
#skynet add
CONFIG_MI_CAMLOG=m
CONFIG_XM_POWER=m
#mi_stack
CONFIG_MI_STACK=m
CONFIG_MI_UBT=m
CONFIG_MI_UBT_TEST=m
CONFIG_XM_POWER=m
# Extm
CONFIG_ZRAM=m
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
# MFZ
CONFIG_MI_MEMORY_FREEZE=y
CONFIG_MEMCG=y
# MI_MEMPOOL
CONFIG_MI_MEMPOOL=m
#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow
#mi_stack
CONFIG_MI_STACK=m
CONFIG_MI_UBT=m
CONFIG_MI_UBT_TEST=m
CONFIG_XMEXT_MPC8011B_GAUGE=m
CONFIG_XMEXT_SC8541_CHG_PUMP=m
CONFIG_CHARGER_SC2201=m
CONFIG_EXTERNAL_LOADSWITCH=m
CONFIG_WIRELESS_SC96231=m
CONFIG_WIRELESS_CHG_CLASS=m
CONFIG_TCPC_SC2150=m
CONFIG_MTK_MMPROFILE_DEBUG=y
CONFIG_MTK_DISP_LOGGER=y
CONFIG_SUPPORT_SOUTHCHIP_PDPHY=y
CONFIG_FUELGAUGE_STRATEGY=m
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_BUILD_PRODUCT_NAME="turner"
#Performance add
CONFIG_BINDER_PRIO=m
#Mi_locking add
CONFIG_MI_LOCKING=m
CONFIG_SUPPORT_DUAL_BATTERY=y
CONFIG_XRING_SMART_CACHE=y
CONFIG_XRING_ZRAM_MEMCG=y
CONFIG_WIRELESS_CHG_CLASS_INTF=m
CONFIG_XM_WLS_CHG_CLASS_INTF=y
CONFIG_PDTEST_MODE=y