CONFIG_HYPER_VM_UOS=m
CONFIG_VIRTIO_NET=m
CONFIG_VIRTIO_PCI=m
CONFIG_VIRTIO_PCI_LEGACY=m
CONFIG_VIRTIO_PCI_LIB=m
CONFIG_VIRTIO_PCI_LIB_LEGACY=m
CONFIG_VIRTIO_MMIO=m
CONFIG_VIRTIO_DMA_SHARED_BUFFER=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_RPMSG_NS=m
CONFIG_RPMSG_CTRL=m
CONFIG_VIRTIO_VIDEO_MTK_EXTENSION=m
CONFIG_VIRTIO_EINT_MTK=y
