#Touch add
CONFIG_BUILD_PRODUCT_NAME="yili"
#add mitee support
CONFIG_MITEE_SUPPORT=m
CONFIG_MITEE_TUI_SUPPORT=n

# add display
CONFIG_BUILD_PRODUCT_NAME="yili"
CONFIG_MTK_DISPLAY_DUAL_PIPE_DUAL_PORT_SUPPORT=y
CONFIG_MTK_MMPROFILE_DEBUG=y
CONFIG_MTK_DISP_LOGGER=y

CONFIG_MI_DISP=y
CONFIG_MI_HWCONF_MANAGER=y
CONFIG_MI_DISP_ESD_CHECK=y
CONFIG_MI_DISP_LED_I2C_REG_ENABLE=y
CONFIG_MI_DISP_DFS_EVENT=y
CONFIG_MI_DISP_CMDQ_SWT=y
CONFIG_MI_DP_AUX_PN_SWAP=y

CONFIG_SUPPORT_DUAL_BATTERY=y

CONFIG_AWINIC_AW8693x_HAPTIC_YILI=m
#camera add
CONFIG_REGULATOR_SGM38121=m
CONFIG_DUAL_LEDS_MT6379_PMIC=m
CONFIG_CAM_INTENTAWARE_FSYS=m
CONFIG_DEVICE_MODULES_DIO_DMABUF_MAPPER=m
#add audio
CONFIG_SND_SOC_TFA9874=m
CONFIG_MTK_ULTRASND_PROXIMITY=n

#third pd phy
CONFIG_SUPPORT_SOUTHCHIP_PDPHY=y
CONFIG_MTK_CHARGER=y
CONFIG_XM_WLS_CHG_CLASS_INTF=y
CONFIG_WLS_SUPPORT_TX_Q_CHECK=y

#fingerprint add
CONFIG_XIAOMI_SIDE_FINGERPRINT=1
CONFIG_XIAOMI_FINGERPRINT_SPI_NUM=3
CONFIG_XIAOMI_FINGERPRINT=m

#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow

#Sensor add
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y

#Performance add

#audio add
CONFIG_DMIC_GPIO_LOW_POWER=y
