// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024 MediaTek Inc.
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/mt6881-pinfunc.h>
#include <dt-bindings/phy/phy.h>

/* chosen */
&chosen {
	bootargs_ext = "";
};

&cpu0 {
	cpu-idle-states = <&s2idle>;
};

&cpu1 {
	cpu-idle-states = <&s2idle>;
};

&cpu2 {
	cpu-idle-states = <&s2idle>;
};

&cpu3 {
	cpu-idle-states = <&s2idle>;
};

&cpu4 {
	cpu-idle-states = <&s2idle>;
};

&cpu5 {
	cpu-idle-states = <&s2idle>;
};

&cpu6 {
	cpu-idle-states = <&s2idle>;
};

&cpu7 {
	cpu-idle-states = <&s2idle>;
};

&extcon_usb{
	status = "disabled";
};

&ssusb {
	/delete-property/ vusb33-supply;
	/delete-node/ port;
};

&connfem {
/* Enable epa_elna node to support Wifi & BT ePA/eLNA FEM on customer load */
#if 0
	epa-elna {
		parts = <&wlan7207h &wlan7207c>;
		wifi {
			flags-0 {
				open-loop;
			};
		};
		bt {
			flags-0 {
				/* choose one of: epa-elna/epa/elna/bypass */
				epa-elna;
			};
		};
	};
#endif
};

&pio {
	uart2_pins_default: uart2-pins-default {
		pins-rx {
			pinmux = <PINMUX_GPIO115__FUNC_URXD2>;
			drive-strength = <7>;
			input-enable;
			bias-pull-up;
		};
		pins-tx {
			pinmux = <PINMUX_GPIO114__FUNC_UTXD2>;
			drive-strength = <7>;
		};
		pins-rts {
			pinmux = <PINMUX_GPIO7__FUNC_URTS2>;
			drive-strength = <7>;
			output-enable;
		};
		pins-cts {
			pinmux = <PINMUX_GPIO6__FUNC_UCTS2>;
			drive-strength = <7>;
			input-enable;
		};
	};

	uart2_pins_sleep: uart2-pins-sleep {
		pins-rx {
			pinmux = <PINMUX_GPIO115__FUNC_GPIO115>;
			bias-pull-down;
		};
		pins-tx {
			pinmux = <PINMUX_GPIO114__FUNC_GPIO114>;
			bias-pull-down;
		};
		pins-rts {
			pinmux = <PINMUX_GPIO7__FUNC_GPIO7>;
			bias-pull-down;
		};
		pins-cts {
			pinmux = <PINMUX_GPIO6__FUNC_GPIO6>;
			bias-pull-down;
		};
	};
};


&uart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart2_pins_default>;
	pinctrl-1 = <&uart2_pins_sleep>;
	status = "okay";
};

&lk_charger {
	disable-charger;
};

&charger {
	disable-charger;
};

&mtk_gauge {
	disable-mtkbattery = <1>;
};

/* CONNSYS TCXO GPIO start */
&consys {
	tcxo-support = "true";
};

/* MD/RF always-on setting */
&mt6363_vbuck5 {
	regulator-always-on;
};

&gic {
	ranges;
	its: its@910000000 {
		compatible = "arm,gic-v3-its";
		msi-controller;
		reg = <0x9 0x10000000 0x0 0x20000>;
	};
};

// virtio-pci bus is used to enumerate virtio devices
&pci {
	device_type = "pci";
	compatible = "pci-host-ecam-generic";
	status = "okay";
	reg = <0xf 0xdf000000 0x0 0x1000000>;
	bus-range = <0 0>;
	ranges = <0x2000000 0x0 0xe0001000 0xf 0xe0001000 0x0 0xffff000>;
	#address-cells = <3>;
	#size-cells = <2>;
	#interrupt-cells = <1>;
	msi-parent = <&its>;
};

&virtio_vmctl {
	dma-coherent;
	status = "okay";
	/* must be in sync with mmio irq in uos_alps_pv8678.lua */
	interrupts = <GIC_SPI 149 IRQ_TYPE_EDGE_RISING 0>;
	reg = <0x9 0x2000 0x00 0x2000>;
	compatible = "virtio,mmio";
};

&viommu {
	compatible = "pci-iommu";
	#iommu-cells = <1>;
	status = "okay";
};

&afe {
	etdm-in-ch = <2 2 2 16 2>;
	etdm-out-ch = <2 2 2 16>;
	etdm-in-format = <0 0 0 4 0>;
	etdm-out-format = <0 0 0 4>;
	etdmin6-clk-always-on = <0xf 0xbb80 0x80 0x20 0x10>;/* ao_level, lrck, mclk_ratio, bck_width, channels */
};

&mmc1 {
	status = "disabled";
};

#include <auto8668p1_64_vm_uos/cust.dtsi>
#include "mediatek/cust_mt6881_camera_v4l2.dtsi"
#include "mediatek/cust_mt8668_display_interface_EVB.dtsi"
#include "mediatek/cust_mt8668_display_serdes_config.dtsi"
#include "mediatek/cust_mt8668_display_config_main.dtsi"
#include "mediatek/cust_k6881_connfem.dtsi"
/*End of this file, DO NOT ADD ANYTHING HERE*/
