
//NFCC for Mediateckstart
&i2c3 {
    status = "okay";
    clock-frequency = <3400000>;
    nxp@28 {
        compatible = "qcom,nq-nci";
        reg = <0x28>;
        qcom,nq-irq         = <&pio 37 0x00>;
        interrupt-parent    = <&pio>;
        interrupts          = <37 IRQ_TYPE_LEVEL_HIGH 37 0>;
        qcom,nq-ven         = <&pio 38 0x0>;
        qcom,nq-firm        = <&pio 36 0x0>;
        qcom,nq-clkreq      = <&pio 84 0x0>;
        interrupt-names = "nfc_irq";
        pinctrl-names   = "default", "nfc_active", "nfc_suspend";
        pinctrl-0 = <&nfc_default>;
        pinctrl-1 = <&nfc_int_active &nfc_enable_active
                    &nfc_clk_req_active &nfc_firmwaredownload_active>;
        pinctrl-2 = <&nfc_int_suspend &nfc_enable_suspend
                    &nfc_clk_req_suspend &nfc_firmwaredownload_suspend>;
    };
};
//&clock_buffer_ctrl {
//    mediatek,xo-bbck4 = <1>;
//};
&pio {
    nfc_default: nfc_default {
    };
    nfc_int_active: nfc_int_active {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO37__FUNC_GPIO37>;
            slew-rate = <0>;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-up;
        };
    };
    nfc_int_suspend: nfc_int_suspend {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO37__FUNC_GPIO37>;
            slew-rate = <0>;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-up;
        };
    };
    nfc_enable_active: nfc_enable_active {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO38__FUNC_GPIO38>;
            slew-rate = <1>;
            output-high;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-up=<MTK_PUPD_SET_R1R0_11>;
        };
    };
    nfc_enable_suspend: nfc_enable_suspend {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO38__FUNC_GPIO38>;
            slew-rate = <1>;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-disable;
        };
    };
    nfc_firmwaredownload_active: nfc_firmwaredownload_active {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO36__FUNC_GPIO36>;
            slew-rate = <1>;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-up;
        };
    };
    nfc_firmwaredownload_suspend: nfc_firmwaredownload_suspend {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO36__FUNC_GPIO36>;
            slew-rate = <1>;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-disable;
        };
    };
    nfc_clk_req_active: nfc_clk_req_active {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO84__FUNC_SRCLKENAI0>;
            slew-rate = <0>;
            input-enable;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-up;
        };
    };
    nfc_clk_req_suspend: nfc_clk_req_suspend {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO84__FUNC_SRCLKENAI0>;
            slew-rate = <0>;
            input-enable;
            drive-strength = <MTK_DRIVE_2mA>;
            bias-pull-down;
        };
    };
};
//NFCC end
/* eSE SPI configuration */
&spi3 {
    #address-cells = <1>;
    #size-cells = <0>;
    p61@31 {
        compatible = "nxp,p61";
        reg = <0>;
        nxp,nfcc = "3-0028";
        spi-max-frequency = <8000000>;
        status = "okay";
        pinctrl-names = "nxp_ese_spi_mode";
        pinctrl-0 = <&nxp_ese_spi_mode>;
    };
};
&pio {
    nxp_ese_spi_mode: nxp_ese_spi_mode {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO29__FUNC_SPI3_MI>,
                    <PINMUX_GPIO30__FUNC_SPI3_MO>,
                    <PINMUX_GPIO27__FUNC_SPI3_CLK>,
                    <PINMUX_GPIO28__FUNC_SPI3_CSB>;
            drive-strength = <6>;
        };
    };
};
/* eSE SPI configuration -- end */

