// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024 MediaTek Inc.
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt6858-pinfunc.h>

/* chosen */
&chosen {
	bootargs_ext = "";
};

&mt6363keys {
	pinctrl-names = "kpcol0_mode";
	pinctrl-0 = <&kpcol0_pins_gpio_mode>;
	home2 {
		linux,keycodes = <114>;
		wakeup-source;
	};
};

&pio {
	kpcol0_pins_gpio_mode: gpio-mode {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO120__FUNC_GPIO120>;
			input-enable;
		};
	};
};


#include <k6858v1_64/cust.dtsi>
#include "mediatek/cust_mt6858_camera_v4l2.dtsi"
#include "mediatek/cust_mt6858_camera.dtsi"
#include "mediatek/cust_mt6858_touch_1080x2400.dtsi"
/*End of this file, DO NOT ADD ANYTHING HERE*/
