// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 MediaTek Inc.
 * Author: KY Liu <ky.liu@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&cksys_reg_clk CLK_TOP_DISP0_SEL>,
			<&cksys_reg_clk CLK_TOP_DISP_PWM_SEL>,
			<&cksys_reg_clk CLK_TOP_DSI_OCC_SEL>,
			<&apmixedsys_clk CLK_APMIXED_UNIVPLL>,
			<&apmixedsys_clk CLK_APMIXED_MMPLL>,
			<&apmixedsys_clk CLK_APMIXED_TVDPLL>;
	};

	bring-up-disp@1 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x1>;
		clocks =
			<&dispsys_config_clk CLK_MM_DISP_OVL0_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_OVL1_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_OVL2_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_C3D0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_AAL0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_POSTMASK0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_C3D1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR2_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR3_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DSC_WRAP0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DSI0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_WDMA1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_APB_BUS_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_FAKE_ENG0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_FAKE_ENG1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_MUTEX0_DISP>,
			<&dispsys_config_clk CLK_MM_SMI_COMMON_DISP>,
			<&dispsys_config_clk CLK_MM_DSI0_DISP>,
			<&dispsys_config_clk CLK_MM_26M_DISP>;
	};

	bring-up-smi@2 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x2>;
		clocks =
			<&dispsys_config_clk CLK_MM_SMI_COMMON_SMI>;
	};

	bring-up-disp-pwm-0@17 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x17>;
		clocks =
			<&pericfg_ao_clk CLK_PERAO_P_DISP_PWM0_DISP_PWM_0>;
	};

	bring-up-disp-pwm-1@18 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x18>;
		clocks =
			<&pericfg_ao_clk CLK_PERAO_P_DISP_PWM1_DISP_PWM_1>;
	};

	bring-up-pd-dis0-shutdown@26 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x26>;
		power-domains = <&scpsys MT6858_POWER_DOMAIN_DIS0_SHUTDOWN>;
	};
};
