// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 MediaTek Inc.
 * Author: Claude Yen <claude.yen@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&cksys_reg_clk CLK_CKSYS_REG_AXI_PERI_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_DISP0_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_MMINFRA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_MMUP_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_UART_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_UART3_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI0_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI2_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI3_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI4_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI5_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI6_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SPI7_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_MSDC_MACRO_1P_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_MSDC30_1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUD_INTBUS_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_USB_TOP_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_USB_XHCI_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_I2C_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_I2C_5_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SENINF_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SENINF1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SENINF2_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SENINF3_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUD_ENGEN1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUD_ENGEN2_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AES_UFSFDE_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_UFS_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_UFS_MBIST_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUD_1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUD_2_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_DPMAIF_MAIN_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_VENC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_VDEC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_PWM_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_AUDIO_H_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_DSI_OCC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_IMG1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_IPE_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAM_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTM_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_PKA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_DMA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_KDF_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_RNG_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_PQC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_USB_FRMCNT_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG0_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG1_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG2_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG3_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG4_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_CAMTG5_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN0_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN1_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN2_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN3_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN4_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_IN6_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT0_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT1_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT2_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT3_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT4_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_OUT6_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_FMI2S_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL_MCK_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN0>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN1>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN2>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN3>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN4>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_IN6>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT0>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT1>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT2>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT3>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT4>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_OUT6>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_CK_DIV_FMI2S>,
			<&apmixedsys_clk CLK_APMIXED_MAINPLL>,
			<&apmixedsys_clk CLK_APMIXED_UNIVPLL>,
			<&apmixedsys_clk CLK_APMIXED_MSDCPLL>,
			<&apmixedsys_clk CLK_APMIXED_MMPLL>,
			<&apmixedsys_clk CLK_APMIXED_EMIPLL>,
			<&apmixedsys_clk CLK_APMIXED_APLL1>,
			<&apmixedsys_clk CLK_APMIXED_APLL2>,
			<&apmixedsys_clk CLK_APMIXED_TVDPLL>,
			<&vlp_cksys_top_clk CLK_VLP_CKSYS_TOP_SCP_SEL>,
			<&vlp_cksys_top_clk CLK_VLP_CKSYS_TOP_PWM_VLP_SEL>,
			<&vlp_cksys_top_clk CLK_VLP_CKSYS_TOP_SSPM_SEL>;
	};

	bring-up-disp@1 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x1>;
		clocks =
			<&dispsys_config_clk CLK_MM_DISP_OVL0_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_OVL1_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_OVL2_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_OVL3_2L_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_C3D0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_AAL0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_POSTMASK0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_C3D1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR2_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR3_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_SPLITTER0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DSC_WRAP0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DSI0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_DSI1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_WDMA1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_APB_BUS_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_FAKE_ENG0_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_FAKE_ENG1_DISP>,
			<&dispsys_config_clk CLK_MM_DISP_MUTEX0_DISP>,
			<&dispsys_config_clk CLK_MM_SMI_COMMON_DISP>,
			<&dispsys_config_clk CLK_MM_DSI0_DISP>,
			<&dispsys_config_clk CLK_MM_DSI1_DISP>,
			<&dispsys_config_clk CLK_MM_26M_DISP>;
	};

	bring-up-venc@2 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x2>;
		clocks =
			<&venc_gcon_clk CLK_VEN1_CKE1_VENC_VENC>,
			<&venc_gcon_clk CLK_VEN1_CKE5_GALS_VENC>;
	};

	bring-up-pdaf@3 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x3>;
		clocks =
			<&camsys_mraw_clk CLK_CAM_MR_PDA0_PDAF>,
			<&camsys_mraw_clk CLK_CAM_MR_PDA1_PDAF>;
	};

	bring-up-smi@4 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x4>;
		clocks =
			<&img_vcore_d1a_clk CLK_IMG_VCORE_SUB0_SMI>,
			<&img_vcore_d1a_clk CLK_IMG_VCORE_SUB1_SMI>,
			<&imgsys_main_clk CLK_IMG_LARB12_SMI>,
			<&imgsys_main_clk CLK_IMG_LARB9_SMI>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON0_SMI>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON1_SMI>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON3_SMI>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON4_SMI>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB15_SMI>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB38_SMI>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_LARB_U0_SMI>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_LARB_U0_SMI>,
			<&traw_dip1_clk CLK_TRAW_DIP1_LARB28_SMI>,
			<&vdec_gcon_base_clk CLK_VDE2_LARB1_CKEN_SMI>,
			<&venc_gcon_clk CLK_VEN1_CKE0_LARB_SMI>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_SUB_COMM_0C_0_SMI>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_SUB_COMM_1_SMI>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB13_SMI>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB14_SMI>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB25_SMI>,
			<&camsys_rawa_clk CLK_CAM_RA_LARBX_SMI>,
			<&camsys_yuva_clk CLK_CAM_YA_LARBX_SMI>,
			<&camsys_rawb_clk CLK_CAM_RB_LARBX_SMI>,
			<&camsys_yuvb_clk CLK_CAM_YB_LARBX_SMI>,
			<&dispsys_config_clk CLK_MM_SMI_COMMON_SMI>,
			<&mdpsys_config_clk CLK_MDP_SMI0_SMI>;
	};

	bring-up-cam-raw@5 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x5>;
		clocks =
			<&cam_vcore_r1a_clk CLK__VCORE_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__26M_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__BLS_PART_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__BLS_FULL_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__RESV0_GALS_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__RESV1_GALS_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__VCORE_CAM2MM0_CAM_RAW>,
			<&cam_vcore_r1a_clk CLK__VCORE_CAM2MM1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_MAIN_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SUBA_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SUBB_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SUBC_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SENINF_TG_SUBA_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SENINF_TG_SUBB_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAMTG_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_SENINF_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_SUB_COMM_0C_0_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_SUB_COMM_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_IPS_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_ASG_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_QOF_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_BWR_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_RTCQ_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_SDLCQ_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_WLA_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_DVC_CON_1_CAM_RAW>,
			<&cam_main_r1a_clk CLK_CAM_MAIN_CAM_CVFS_CON_1_CAM_RAW>,
			<&camsys_rawa_clk CLK_CAM_RA_LARBX_CAM_RAW>,
			<&camsys_rawa_clk CLK_CAM_RA_CAM_CAM_RAW>,
			<&camsys_rawa_clk CLK_CAM_RA_CAMTG_CAM_RAW>,
			<&camsys_rawa_clk CLK_CAM_RA_CAM_26M_CAM_RAW>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_LARBX_CAM_RAW>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_CAM_CAM_RAW>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_CAMTG_CAM_RAW>,
			<&camsys_yuva_clk CLK_CAM_YA_LARBX_CAM_RAW>,
			<&camsys_yuva_clk CLK_CAM_YA_CAM_CAM_RAW>,
			<&camsys_yuva_clk CLK_CAM_YA_CAMTG_CAM_RAW>,
			<&camsys_rawb_clk CLK_CAM_RB_LARBX_CAM_RAW>,
			<&camsys_rawb_clk CLK_CAM_RB_CAM_CAM_RAW>,
			<&camsys_rawb_clk CLK_CAM_RB_CAMTG_CAM_RAW>,
			<&camsys_rawb_clk CLK_CAM_RB_CAM_26M_CAM_RAW>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_LARBX_CAM_RAW>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_CAM_CAM_RAW>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_CAMTG_CAM_RAW>,
			<&camsys_yuvb_clk CLK_CAM_YB_LARBX_CAM_RAW>,
			<&camsys_yuvb_clk CLK_CAM_YB_CAM_CAM_RAW>,
			<&camsys_yuvb_clk CLK_CAM_YB_CAMTG_CAM_RAW>;
	};

	bring-up-i2c@6 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x6>;
		clocks =
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C2_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C4_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C7_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C8_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C9_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C10_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C11_I2C>,
			<&imp_iic_top_wrap_s_clk CLK_IMP_IIC_TOP_WRAP_S_I2C12_I2C>,
			<&imp_iic_top_wrap_w_clk CLK_IMP_IIC_TOP_WRAP_W_I2C0_I2C>,
			<&imp_iic_top_wrap_w_clk CLK_IMP_IIC_TOP_WRAP_W_I2C1_I2C>,
			<&imp_iic_top_wrap_w_clk CLK_IMP_IIC_TOP_WRAP_W_I2C3_I2C>,
			<&imp_iic_top_wrap_w_clk CLK_IMP_IIC_TOP_WRAP_W_I2C5_I2C>,
			<&imp_iic_top_wrap_w_clk CLK_IMP_IIC_TOP_WRAP_W_I2C6_I2C>;
	};

	bring-up-uart@7 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x7>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART0_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART1_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART2_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART3_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART4_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_UART5_UART>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_DMA_B_UART>;
	};

	bring-up-camera-p2@8 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x8>;
		clocks =
			<&img_vcore_d1a_clk CLK_IMG_VCORE_IMG_26M_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_FDVT_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_ODPM26_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_TRAW0_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_TRAW1_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_DIP0_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_WPE0_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_IPE_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_WPE1_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG_WPE2_CAMERA_P2>,
			<&imgsys_main_clk CLK_IMG26_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS0_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS1_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS2_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS3_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB10_CAMERA_P2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB39_CAMERA_P2>,
			<&dip_nr1_dip1_clk CLK_DIP_NR1_DIP1_LARB_CAMERA_P2>,
			<&dip_nr1_dip1_clk CLK_DIP_NR1_DIP1_DIP_NR1_CAMERA_P2>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_DIP_NR_CAMERA_P2>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_LARB15_CAMERA_P2>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_LARB39_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_LARB_U1_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_GALS_U0_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_GALS_U1_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_WPE_MACRO_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_WPE_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_PQDIP_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_PQDIP_DMA_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_OMC_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_DWPE_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_ME_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_MMG_CAMERA_P2>,
			<&wpe_eis_dip1_clk CLK_WPE_EIS_DIP1_WPE_26M_EN_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_LARB_U1_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_GALS_U0_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_GALS_U1_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_WPE_MACRO_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_WPE_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_PQDIP_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_PQDIP_DMA_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_OMC_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_DWPE_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_ME_CAMERA_P2>,
			<&wpe_tnr_dip1_clk CLK_WPE_TNR_DIP1_MMG_CAMERA_P2>,
			<&traw_dip1_clk CLK_TRAW_DIP1_LARB40_CAMERA_P2>,
			<&traw_dip1_clk CLK_TRAW_DIP1_TRAW_CAMERA_P2>,
			<&traw_cap_dip1_clk CLK_TRAW_CAP_DIP1_TRAW_CAP_CAMERA_P2>;
	};

	bring-up-spi@9 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x9>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI0_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI1_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI2_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI3_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI4_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI5_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI6_B_SPI>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_SPI7_B_SPI>;
	};

	bring-up-vdec@a {
		compatible = "mediatek,clk-bring-up";
		reg = <0xa>;
		clocks =
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_ACTIVE_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_ENG_VDEC>;
	};

	bring-up-gce@b {
		compatible = "mediatek,clk-bring-up";
		reg = <0xb>;
		clocks =
			<&mminfra_config_clk CLK_MMINFRA_GCE_D_GCE>,
			<&mminfra_config_clk CLK_MMINFRA_GCE_M_GCE>,
			<&mminfra_config_clk CLK_MMINFRA_SMI_GCE>,
			<&mminfra_config_clk CLK_MMINFRA_GCE_M2_GCE>,
			<&mminfra_config_clk CLK_MMINFRA_GCE_26M_GCE>;
	};

	bring-up-dpmaif@c {
		compatible = "mediatek,clk-bring-up";
		reg = <0xc>;
		clocks =
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CLDMA_BCLK_DPMAIF>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_DPMAIF_MAIN_DPMAIF>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_RG_MMW_DPMAIF26M_CK_DPMAIF>;
	};

	bring-up-msdc1@d {
		compatible = "mediatek,clk-bring-up";
		reg = <0xd>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_MSDC1_MSDC1>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_MSDC1_DIV_MSDC1>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_MSDC1_MST_F_MSDC1>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_MSDC1_SLV_H_MSDC1>;
	};

	bring-up-camsv@e {
		compatible = "mediatek,clk-bring-up";
		reg = <0xe>;
		clocks =
			<&camsys_mraw_clk CLK_CAM_MR_LARB13_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB14_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB19_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB25_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB26_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB29_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_SENINF_CAMTM_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_TOP_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_A_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_B_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_C_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_D_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_E_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMSV_CAMSV>,
			<&camsys_mraw_clk CLK_CAM_MR_FAKE_ENG_CAMSV>;
	};

	bring-up-ccci@f {
		compatible = "mediatek,clk-bring-up";
		reg = <0xf>;
		clocks =
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF1_AP_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF1_MD_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF_AP_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF_MD_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF5_MD_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF2_AP_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF2_MD_CCCI>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CCIF4_MD_CCCI>;
	};

	bring-up-audio@10 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x10>;
		clocks =
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN0_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN1_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN2_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN3_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN4_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_IN6_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT0_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT1_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT2_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT3_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT4_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_OUT6_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_FMI2S_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_M_PDN_AUDIO>,
			<&cksys_reg_clk CLK_CKSYS_REG_APLL12_DIV_B_PDN_AUDIO>,
			<&afe_clk CLK_AFE_AUD_PAD_TOP_MOSI_EN_AUDIO>,
			<&afe_clk CLK_AFE_DL1_DAC_TML_AUDIO>,
			<&afe_clk CLK_AFE_DL1_DAC_HIRES_AUDIO>,
			<&afe_clk CLK_AFE_DL1_DAC_AUDIO>,
			<&afe_clk CLK_AFE_DL1_PREDIS_AUDIO>,
			<&afe_clk CLK_AFE_DL1_NLE_AUDIO>,
			<&afe_clk CLK_AFE_DL0_DAC_TML_AUDIO>,
			<&afe_clk CLK_AFE_DL0_DAC_HIRES_AUDIO>,
			<&afe_clk CLK_AFE_DL0_DAC_AUDIO>,
			<&afe_clk CLK_AFE_DL0_PREDIS_AUDIO>,
			<&afe_clk CLK_AFE_DL0_NLE_AUDIO>,
			<&afe_clk CLK_AFE_PCM1_AUDIO>,
			<&afe_clk CLK_AFE_PCM0_AUDIO>,
			<&afe_clk CLK_AFE_CM2_AUDIO>,
			<&afe_clk CLK_AFE_CM1_AUDIO>,
			<&afe_clk CLK_AFE_CM0_AUDIO>,
			<&afe_clk CLK_AFE_STF_AUDIO>,
			<&afe_clk CLK_AFE_HW_GAIN23_AUDIO>,
			<&afe_clk CLK_AFE_HW_GAIN01_AUDIO>,
			<&afe_clk CLK_AFE_FM_I2S_AUDIO>,
			<&afe_clk CLK_AFE_MTKAIFV4_AUDIO>,
			<&afe_clk CLK_AFE_UL1_ADC_HIRES_TML_AUDIO>,
			<&afe_clk CLK_AFE_UL1_ADC_HIRES_AUDIO>,
			<&afe_clk CLK_AFE_UL1_TML_AUDIO>,
			<&afe_clk CLK_AFE_UL1_ADC_AUDIO>,
			<&afe_clk CLK_AFE_UL0_ADC_HIRES_TML_AUDIO>,
			<&afe_clk CLK_AFE_UL0_ADC_HIRES_AUDIO>,
			<&afe_clk CLK_AFE_UL0_TML_AUDIO>,
			<&afe_clk CLK_AFE_UL0_ADC_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_IN6_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_IN2_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_IN1_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_IN0_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_OUT6_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_OUT2_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_OUT1_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_OUT0_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL7_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL6_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL5_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL4_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL3_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL2_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL1_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_GENERAL0_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_CONNSYS_I2S_ASRC_AUDIO>,
			<&afe_clk CLK_AFE_AUDIO_HOPPING_AUDIO>,
			<&afe_clk CLK_AFE_AUDIO_F26M_AUDIO>,
			<&afe_clk CLK_AFE_APLL1_AUDIO>,
			<&afe_clk CLK_AFE_APLL2_AUDIO>,
			<&afe_clk CLK_AFE_H208M_AUDIO>,
			<&afe_clk CLK_AFE_APLL_TUNER2_AUDIO>,
			<&afe_clk CLK_AFE_APLL_TUNER1_AUDIO>,
			<&afe_clk CLK_AFE_ETDM_IN_DMA0_AUDIO>,
			<&afe_clk CLK_AFE_ETDM6_PADTOP_CK_EN_AUDIO>,
			<&afe_clk CLK_AFE_ETDM7_PADTOP_CK_EN_AUDIO>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_AUDIO0_AUDIO>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_AUDIO1_AUDIO>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_AUDIO2_AUDIO>;
	};

	bring-up-jpgenc@11 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x11>;
		clocks =
			<&venc_gcon_clk CLK_VEN1_CKE2_JPGENC_JPGENC>;
	};

	bring-up-pda@12 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x12>;
		clocks =
			<&camsys_mraw_clk CLK_CAM_MR_LARB25_PDA>,
			<&camsys_mraw_clk CLK_CAM_MR_LARB26_PDA>;
	};

	bring-up-pwm@13 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x13>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_PWM_H_PWM>,
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_PWM_B_PWM>;
	};

	bring-up-camera-seninf@14 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x14>;
		clocks =
			<&mipi_csi_top_ctrl_0_clk CLK_MIPI_CSI_RG_CSIRX_CSI_CK0_EN_CAMERA_SENINF>,
			<&mipi_csi_top_ctrl_0_clk CLK_MIPI_CSI_RG_CSIRX_CSI_CK1_EN_CAMERA_SENINF>,
			<&mipi_csi_top_ctrl_0_clk CLK_MIPI_CSI_RG_CSIRX_CSI_CK2_EN_CAMERA_SENINF>,
			<&mipi_csi_top_ctrl_0_clk CLK_MIPI_CSI_RG_CSIRX_CSI_CK3_EN_CAMERA_SENINF>;
	};

	bring-up-mml@15 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x15>;
		clocks =
			<&mdpsys_config_clk CLK_MDP_MUTEX0_MML>,
			<&mdpsys_config_clk CLK_MDP_APB_BUS_MML>,
			<&mdpsys_config_clk CLK_MDP_SMI0_MML>,
			<&mdpsys_config_clk CLK_MDP_RDMA0_MML>,
			<&mdpsys_config_clk CLK_MDP_FG0_MML>,
			<&mdpsys_config_clk CLK_MDP_HDR0_MML>,
			<&mdpsys_config_clk CLK_MDP_AAL0_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ0_MML>,
			<&mdpsys_config_clk CLK_MDP_TDSHP0_MML>,
			<&mdpsys_config_clk CLK_MDP_COLOR0_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT0_MML>,
			<&mdpsys_config_clk CLK_MDP_FAKE_ENG0_MML>,
			<&mdpsys_config_clk CLK_MDP_DLI_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_DLI_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_RDMA1_MML>,
			<&mdpsys_config_clk CLK_MDP_FG1_MML>,
			<&mdpsys_config_clk CLK_MDP_HDR1_MML>,
			<&mdpsys_config_clk CLK_MDP_AAL1_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ1_MML>,
			<&mdpsys_config_clk CLK_MDP_TDSHP1_MML>,
			<&mdpsys_config_clk CLK_MDP_COLOR1_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT1_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ2_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT2_MML>,
			<&mdpsys_config_clk CLK_MDP_DLO_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ3_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT3_MML>,
			<&mdpsys_config_clk CLK_MDP_DLO_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_HRE_TOP_MDPSYS_MML>,
			<&mdpsys_config_clk CLK_MDP_FMM_IMG_DL_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_FMM_IMG_DL_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_FIMG_IMG_DL_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_FIMG_IMG_DL_ASYNC1_MML>;
	};

	bring-up-disp-pwm-0@16 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x16>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_DISP_PWM0_DISP_PWM_0>;
	};

	bring-up-disp-pwm-1@17 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x17>;
		clocks =
			<&pericfg_ao_reg_clk CLK_PERICFG_AO_REG_PERI_DISP_PWM1_DISP_PWM_1>;
	};

	bring-up-ufs@18 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x18>;
		clocks =
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_TX_SYM_UFS>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_RX_SYM0_UFS>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_RX_SYM1_UFS>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_SYS_UFS>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_SAP_CFG_UFS>,
			<&ufscfg_ao_clk CLK_UFSAO_UFS_PHY_TOP_AHB_S_BUS_UFS>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_UFS_UFS>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_AES_UFS>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_UFS_AHB_UFS>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_UFS_AXI_UFS>;
	};

	bring-up-pd-conn@19 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x19>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CONN>;
	};

	bring-up-pd-ufs0-shutdown@1a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1a>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_UFS0_SHUTDOWN>;
	};

	bring-up-pd-ufs0-phy@1b {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1b>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_UFS0_PHY>;
	};

	bring-up-pd-audio@1c {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1c>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_AUDIO>;
	};

	bring-up-pd-isp-main@1d {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1d>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_ISP_MAIN>;
	};

	bring-up-pd-isp-dip1@1e {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1e>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_ISP_DIP1>;
	};

	bring-up-pd-isp-vcore@1f {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1f>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_ISP_VCORE>;
	};

	bring-up-pd-vde0@20 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x20>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_VDE0>;
	};

	bring-up-pd-ven0@21 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x21>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_VEN0>;
	};

	bring-up-pd-cam-main@22 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x22>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CAM_MAIN>;
	};

	bring-up-pd-cam-suba@23 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x23>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CAM_SUBA>;
	};

	bring-up-pd-cam-subb@24 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x24>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CAM_SUBB>;
	};

	bring-up-pd-cam-vcore@25 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x25>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CAM_VCORE>;
	};

	bring-up-pd-dis0-shutdown@26 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x26>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_DIS0_SHUTDOWN>;
	};

	bring-up-pd-mm-infra-shutdown@27 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x27>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_MM_INFRA_SHUTDOWN>;
	};

	bring-up-pd-mm-proc-dormant@28 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x28>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_MM_PROC_DORMANT>;
	};

	bring-up-pd-csi-rx@29 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x29>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_CSI_RX>;
	};

	bring-up-pd-ssrsys-shutdown@2a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x2a>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_SSRSYS_SHUTDOWN>;
	};

	bring-up-pd-ssusb@2b {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x2b>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_SSUSB>;
	};
};
