/* Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&odm {
	si_pa_L: si_pa_L {
		compatible = "si,sia81xx";
		si,si_pa_type = "sia8152x";
		si,si_pa_disable_pin = <1>;
		channel_num = <0>;
	};
        si_pa_R: si_pa_R {
		compatible = "si,sia81xx";
		si,si_pa_type = "sia8152x";
		si,si_pa_disable_pin = <1>;
		channel_num = <1>;
	};
};

&sound {
	si,sia81xx-max-num = <2>;
	si,sia81xx-aux-devs = <&si_pa_L>,<&si_pa_R>;
	si,sia81xx-aux-devs-prefix = "SpkrLeft","SpkrRight";
};

&i2c5 {
	clock-frequency = <400000>;
	mediatek,use-open-drain;

	sipa_i2c_L: sipa_i2c@58 {
		compatible = "si,sia81xx-i2c";
		reg = <0x58>;
		si,sipa-dev = <&si_pa_L>;
	};
        sipa_i2c_R: sipa_i2c@59 {
		compatible = "si,sia81xx-i2c";
		reg = <0x59>;
		si,sipa-dev = <&si_pa_R>;
	};
};
