// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 MediaTek Inc.
 * Author: KY Liu <ky.liu@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&topckgen_clk CLK_TOP_VDEC_SEL>,
			<&topckgen_clk CLK_TOP_MMINFRA_SEL>,
			<&topckgen_clk CLK_TOP_MMUP_SEL>;
	};

	bring-up-ufs@1d {
		compatible = "mediatek,clk-bring-up";
		reg = <0x1d>;
		clocks =
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_U_AXI_UFS>;
	};

	bring-up-smi@6 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x6>;
		clocks =
			<&vdec_gcon_base_clk CLK_VDE2_LARB1_CKEN_SMI>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LARB1_CKEN_SMI>,
			<&dispsys1_config_clk CLK_MM1_SMI_SUB_COMM0_SMI>;
	};

	bring-up-vdec@f {
		compatible = "mediatek,clk-bring-up";
		reg = <0xf>;
		clocks =
			<&vdec_gcon_base_clk CLK_VDE2_LAT_CKEN_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_ACTIVE_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_ENG_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_CKEN_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_ACTIVE_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_CKEN_ENG_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_CKEN_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_ACTIVE_VDEC>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_CKEN_ENG_VDEC>;
	};

	bring-up-pd-vde0@2a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x2a>;
		power-domains = <&hfrpsys MT6899_POWER_DOMAIN_VDE0>;
	};

	bring-up-pd-vde1@2b {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x2b>;
		power-domains = <&hfrpsys MT6899_POWER_DOMAIN_VDE1>;
	};

	bring-up-pd-mm-infra@3c {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x3c>;
		power-domains = <&hfrpsys MT6899_POWER_DOMAIN_MM_INFRA>;
	};
};
