// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 MediaTek Inc.
 * Author: Claude Yen <claude.yen@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&cksys_reg_clk CLK_CKSYS_REG_MMINFRA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_DPMAIF_MAIN_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_VENC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_VDEC_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_PKA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_DMA_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_KDF_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_RNG_SEL>,
			<&cksys_reg_clk CLK_CKSYS_REG_SSR_PQC_SEL>;
	};

	bring-up-venc@2 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x2>;
		clocks =
			<&venc_gcon_clk CLK_VEN1_CKE1_VENC_VENC>,
			<&venc_gcon_clk CLK_VEN1_CKE5_GALS_VENC>;
	};

	bring-up-smi@4 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x4>;
		clocks =
			<&venc_gcon_clk CLK_VEN1_CKE0_LARB_SMI>;
	};

	bring-up-vdec@a {
		compatible = "mediatek,clk-bring-up";
		reg = <0xa>;
		clocks =
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_ACTIVE_VDEC>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_ENG_VDEC>;
	};

	bring-up-dpmaif@c {
		compatible = "mediatek,clk-bring-up";
		reg = <0xc>;
		clocks =
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_CLDMA_BCLK_DPMAIF>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_DPMAIF_MAIN_DPMAIF>,
			<&infra_infracfg_ao_reg_clk CLK_INFRA_AO_REG_RG_MMW_DPMAIF26M_CK_DPMAIF>;
	};

	bring-up-mml@15 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x15>;
		clocks =
			<&mdpsys_config_clk CLK_MDP_MUTEX0_MML>,
			<&mdpsys_config_clk CLK_MDP_APB_BUS_MML>,
			<&mdpsys_config_clk CLK_MDP_SMI0_MML>,
			<&mdpsys_config_clk CLK_MDP_RDMA0_MML>,
			<&mdpsys_config_clk CLK_MDP_FG0_MML>,
			<&mdpsys_config_clk CLK_MDP_HDR0_MML>,
			<&mdpsys_config_clk CLK_MDP_AAL0_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ0_MML>,
			<&mdpsys_config_clk CLK_MDP_TDSHP0_MML>,
			<&mdpsys_config_clk CLK_MDP_COLOR0_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT0_MML>,
			<&mdpsys_config_clk CLK_MDP_FAKE_ENG0_MML>,
			<&mdpsys_config_clk CLK_MDP_DLI_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_DLI_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_RDMA1_MML>,
			<&mdpsys_config_clk CLK_MDP_FG1_MML>,
			<&mdpsys_config_clk CLK_MDP_HDR1_MML>,
			<&mdpsys_config_clk CLK_MDP_AAL1_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ1_MML>,
			<&mdpsys_config_clk CLK_MDP_TDSHP1_MML>,
			<&mdpsys_config_clk CLK_MDP_COLOR1_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT1_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ2_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT2_MML>,
			<&mdpsys_config_clk CLK_MDP_DLO_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_RSZ3_MML>,
			<&mdpsys_config_clk CLK_MDP_WROT3_MML>,
			<&mdpsys_config_clk CLK_MDP_DLO_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_HRE_TOP_MDPSYS_MML>,
			<&mdpsys_config_clk CLK_MDP_FMM_IMG_DL_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_FMM_IMG_DL_ASYNC1_MML>,
			<&mdpsys_config_clk CLK_MDP_FIMG_IMG_DL_ASYNC0_MML>,
			<&mdpsys_config_clk CLK_MDP_FIMG_IMG_DL_ASYNC1_MML>;
	};

	bring-up-pd-vde0@1e {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1e>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_VDE0>;
	};

	bring-up-pd-ven0@1f {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1f>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_VEN0>;
	};

	bring-up-pd-mm-infra-shutdown@25 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x25>;
		power-domains = <&scpsys MT6881_POWER_DOMAIN_MM_INFRA_SHUTDOWN>;
	};
};
