// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 MediaTek Inc.
 * Author: Chong-ming Wei <chong-ming.wei@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&cksys_gp2_clk CLK_CK2_MMUP_SEL>;
	};
	bring-up-pd-mm-proc-dormant@34 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x34>;
		power-domains = <&scpsys MT6991_POWER_DOMAIN_MM_PROC_DORMANT>;
	};
};
