// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 MediaTek Inc.
 * Author: Chong-ming Wei <chong-ming.wei@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x0>;
		clocks =
			<&cksys_clk CLK_CK_UART_SEL>,
			<&cksys_clk CLK_CK_UARTHUB_BCLK_SEL>,
			<&apmixedsys_clk CLK_APMIXED_UNIVPLL>,
			<&cksys_gp2_clk CLK_CK2_CCUSYS_SEL>,
			<&cksys_gp2_clk CLK_CK2_CCUTM_SEL>,
			<&cksys_gp2_clk CLK_CK2_MMINFRA_SEL>,
			<&cksys_gp2_clk CLK_CK2_MMINFRA_SNOC_SEL>,
			<&cksys_gp2_clk CLK_CK2_MMUP_SEL>,
			<&cksys_gp2_clk CLK_CK2_MMINFRA_AO_SEL>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_MAINPLL2>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_UNIVPLL2>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_MMPLL2>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_IMGPLL>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_TVDPLL1>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_TVDPLL2>,
			<&apmixedsys_gp2_clk CLK_APMIXED2_TVDPLL3>,
			<&vlp_cksys_clk CLK_VLP_CK_VLP_APLL1>,
			<&vlp_cksys_clk CLK_VLP_CK_VLP_APLL2>,
			<&vlp_cksys_clk CLK_VLP_CK_MMINFRA_VLP_SEL>;
	};
	bring-up-smi@1 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x7>;
		clocks =
			<&ccu_main_clk CLK_CCLARB30_CON_SMI>,
			<&ccu_main_clk CLK_CCUSYS_CCU0_CON_SMI>;
	};
	bring-up-pq@a {
		compatible = "mediatek,clk-bring-up";
		reg = <0xa>;
		clocks =
			<&dispsys_config_clk CLK_MM_DISP_AAL0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_AAL1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_C3D0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_C3D1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_C3D2_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_C3D3_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR2_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR3_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CHIST0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_CHIST1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA1_PQ>,
			<&dispsys_config_clk CLK_MM_MDP_AAL0_PQ>,
			<&dispsys_config_clk CLK_MM_MDP_AAL1_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP0_PQ>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP1_PQ>,
			<&dispsys1_config_clk CLK_MM1_DISP_ODDMR0_PQ>,
			<&dispsys1_config_clk CLK_MM1_DISP_POSTALIGN0_PQ>,
			<&dispsys1_config_clk CLK_MM1_DISP_DITHER2_PQ>;
	};
	bring-up-ccu@b {
		compatible = "mediatek,clk-bring-up";
		reg = <0xb>;
		clocks =
			<&ccu_main_clk CLK_CCLARB30_CON_CCU>,
			<&ccu_main_clk CLK_CCU2INFRA_GALS_CON_CCU>,
			<&ccu_main_clk CLK_CCU2MM0_GALS_CON_CCU>;
	};
	bring-up-uart@d {
		compatible = "mediatek,clk-bring-up";
		reg = <0xd>;
		clocks =
			<&pericfg_ao_clk CLK_PERAO_UART0_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_UART1_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_UART2_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_UART3_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_UART4_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_UART5_BCLK_UART>,
			<&pericfg_ao_clk CLK_PERAO_AP_DMA_X32W_BCLK_UART>;
	};
	bring-up-ccu1@1a {
		compatible = "mediatek,clk-bring-up";
		reg = <0x1a>;
		clocks =
			<&ccu_main_clk CLK_CCUSYS_CCU1_CON_CCU1>;
	};
	bring-up-ccu0@24 {
		compatible = "mediatek,clk-bring-up";
		reg = <0x24>;
		clocks =
			<&ccu_main_clk CLK_CCUSYS_CCU0_CON_CCU0>;
	};
	bring-up-pd-mm-proc-dormant@34 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x34>;
		power-domains = <&scpsys MT6991_POWER_DOMAIN_MM_PROC_DORMANT>;
	};
	bring-up-pd-cam-ccu@4e {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x4e>;
		power-domains = <&hfrpsys MT6991_POWER_DOMAIN_CAM_CCU>;
	};
	bring-up-pd-mm-infra0@58 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x58>;
		power-domains = <&hfrpsys MT6991_POWER_DOMAIN_MM_INFRA0>;
	};
	bring-up-pd-mm-infra1@59 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x59>;
		power-domains = <&hfrpsys MT6991_POWER_DOMAIN_MM_INFRA1>;
	};
	bring-up-pd-mm-infra-ao@5a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x5a>;
		power-domains = <&hfrpsys MT6991_POWER_DOMAIN_MM_INFRA_AO>;
	};
};
